

img {
    padding: 1rem;
    height: 400px;
    border-radius: 8px;
}

article {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

#buttons {
    float: right;
}