* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

nav {
    margin: auto;
    padding-top: 1rem;
    background-color: #f0f0f0;
    opacity: 1;
    height: 70px;
    position: sticky; top: 0;
}

main {
    padding-top: 2rem;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}



.wrapper {
    max-width: 100%;
    margin: auto;
}

.container {
    padding-top: 2rem;
}

.grid-col { 
    width: 100%; 
    float: left; 
    padding: 1rem;
}


#create-new-btn {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 1rem;
}

.post {
    background-color: white;
    box-shadow: 0px 2px 5px #888888;
    border-radius: 8px;
    transition: .2s all ease-in-out;
    width: 100%;
}

.post .content {
    padding: 10px;
}

p {
    font-size: 0.85em;
}

.post img {
    height: 150px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.post:hover {
    box-shadow: 0px 5px 20px #888888;
    transform: scale(1.05);
    cursor: pointer;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.wrapper {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}




.article-img {
    height: 400px;
    margin: auto;
}

#buttons {
    float: right;
}

/* Forms */
form {
    margin-left: 20px;
}

@media only screen and (min-width: 600px) {
    .wrapper {
        width: 550px;
    }

    .grid-col {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width: 800px) {
    .wrapper {
        width: 800px;
    }

    h5 {
        font-size: 1.2em;
    }

    .grid-col {
        width: 33.3%;
    }
}

@media only screen and (min-width: 1100px) {
    .wrapper {
        width: 1000px;
    }

    h5 {
        font-size: 1.4em
    }

    .grid-col {
        width: 33.3%;
    }
}

@media only screen and (min-width: 1250px) {
    .wrapper {
        width: 1200px;
    }
}